.about-us-container {
    justify-content: space-around;
    background-color: var(--aqua);
    padding: 50px;
}
.about-us-wrapper {
    position: relative;
    color: white;
}

.about-name-container {
    color: white;
    padding: 25px;
    position: absolute;
    left: -15px;
    bottom: -10px;
    background-color: var(--orange);
}

.about-name-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.about-name-container a:hover { 
    color: gray;
}

.promise-card-wrapper:nth-child(odd) {
    justify-content: flex-end;
}

.promise-card-container{
    flex-direction: column;
    padding: 50px;
}

.container-title-text {
    color: white;
    background-color: var(--aqua);
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 25px;
    font-size: 3.4rem;
}

.promise-card {
    width: 60%;
    padding: 50px;
    box-shadow: 6px 12px 20px 10px lightgray;
    margin: 25px 0;
}

.promise-card h1 {
    font-size: 1.8rem;
}

.right-promise-card {
    border-left: 10px solid var(--aqua);
}

.left-promise-card {
    border-right: 10px solid var(--orange);
}

@media only screen and (max-width: 800px) {
    .about-us-container {
        flex-direction: column;
    }

    .about-us-wrapper {
        margin: 25px auto;
    }
}