.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/Hero-image.jpg) no-repeat center;
    background-size: cover;

}

.cta {
    background-color:rgba(255,255,255, 0.7);
    width: 300px;
    height: 70%;
    margin-left: 20%;
    padding: 25px;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    line-height: 0.8;
}

.cta p:first-child {
    color: var(--aqua);
    font-size: 4rem;
    margin: 50px auto 0 auto;

}

.cta p:nth-child(2) {
    color: var(--orange);
    font-size: 8.7rem;
}

.cta p:nth-child(3) {
    color: var(--blue);
    font-size: 2.38rem;
}

.cta p:last-child {
    text-align: center;
    /* vertical-align: middle; */
    font-size: 2.6rem;
    margin: 25px auto;
    padding: 15px;
    background-color: var(--aqua);
    color: white;

}
