.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
}

.modal-header {
    background: var(--aqua);
    color: #e9e9e9;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-header h1 {
    color: white;
    font-size: 2rem;
    margin-right: 25px;
}

.modal-content {
    padding: 1.5rem 1rem;
}

.modal-content button {
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 15px 25px;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-body h4 {
    font-size: 1.8rem;
    color: var(--orange);
}

.modal-body p {
    font-size: 1rem;
    background: #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.modal-body ul {
    list-style-type: none;
    list-style-position: outside;
    /* font-size: 1.2rem; */
}

.modal-body ul li::before {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    content: "\2022";
    color: var(--aqua);
    display: inline-block;
}

/* .modal-footer button {
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: var(--orange);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
} */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}