.nav-container {
    width: 90%;
    margin: auto;
}

.nav-wrapper {
    padding: 15px;
    justify-content: space-between;
}

.link-container {
    justify-content: space-evenly;
    width: 30%;
    margin: auto 0;
    color: var(--aqua);
}

.link-container a {
    text-decoration: none;
    color: var(--aqua);
}

.link-container:hover a{
    color: var(--blue);
}