.nav-container {
    width: 90%;
    margin: auto;
}

.nav-wrapper {
    padding: 15px;
    justify-content: space-between;
}

.link-container {
    justify-content: space-evenly;
    width: 60%;
    margin: auto 0;
    color: var(--aqua);
}

.link-container a {
    cursor: pointer!important;
    text-decoration: none;
    color: var(--aqua);
}

.link-container a:hover{
    cursor: pointer!important;
    color: var(--blue);
    font-weight: bold;

}
