.services-container {
    justify-content: space-evenly;
    padding: 25px;
    z-index: 1;
}

.card-container {
    width: 300px;
    box-shadow: 2px 2px 4px #000000;
}

.title-container {
    text-align: center;
    background-color: white;
    padding: 25px;
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    color: var(--aqua);
}

.details-container {
    height: 125px;
    padding: 15px;
}

.details-container ul {
    list-style-type: none;
    list-style-position: outside;
    /* line-height: 1.8; */
    /* padding-left: 0; */
}

.details-container ul li::before {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    content: "\2022";
    color: var(--aqua);
    display: inline-block;

}

.modal-btn {
    padding: 10px 10px;
    cursor: pointer;
    color: var(--blue);
}

.modal-btn:hover {
    color: white;
    background-color: var(--aqua);
}

.card-head img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
    height: 240px;
}

.card-text li{
    list-style-type: none;
    margin:6px 0 0 15px;
}

.card-foot{ 
    padding: 15px;
    border-top: 1px solid var(--orange);
}



.card-foot:hover {
    background-color: var(--aqua);
    color: white;
    cursor: pointer;
    border-top: 1px solid var(--aqua);
}

/* .card-headline {
    font-size: 1.4rem;
    color: var(--orange);
    text-align: center;
    margin-bottom: 15px;
} */

.card-headline {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    background-color: var(--orange);
    padding: 5px;
    margin-bottom: 15px;
}


/* MODAL CSS -----------------> */
.list-items{
    list-style-type: square;
    margin-left: 25px; 
    padding-left: 0;
}

.modal-title {
    background-color: var(--aqua);
    padding: 15px;
    font-size: 2rem;
    color: white;
    margin-bottom: 15px;
}

.close-modal-icon {
    font-size: 1.6rem;
    color: white;
    margin: 28px ;
}

@media only screen and (max-width: 600px) {
    .services-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .details-container {
        height: 250px;
        padding: 15px;
    }

    .card-container {
        margin: 25px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .services-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .details-container {
        height: 250px;
        padding: 15px;
    }

    .card-container {
        margin: 25px 15px;
    }
}

@media only screen and (max-width: 992px) {
    .services-container {
        flex-wrap: wrap;
    }

    .details-container {
        height: 250px;
        padding: 15px;
    }

    .card-container {
        margin: 25px 15px;
    }
}

